// colours

$colour-primary: #2BB3A5;
$colour-primary-muted: #2BB3A520;
$colour-secondary: #3b299e;
$colour-background: white;
$colour-chord: $colour-secondary;
$colour-link: $colour-secondary;
$colour-text: #333;

// fonts
$font-main: 'Cabin', serif;
$font-title: 'Aleo', sans-serif;